<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProgramName" value="图片自动演示|测试程序01|测试程序执二|t1|t2|t3|t4|t5" />
    <add key="ProgramPath" value="F:\Code\PicRandShow\PicRandShow\bin\Debug\PicRandShow.exe|F:\Code\PicRandShow\PicRandShow.exe|F:\Code\PicRandShow\PicRandShow.exe|t1|t2|t3|t4|t5" />
  </appSettings>
</configuration>